# virtual environments
venv
.venv

# Documentation
docs
tutorials

# Cache files
__pycache__/
*.py[cod]
*$py.class
src/ulamdyn/__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
src/ulamdyn.egg-info/